@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-weight: lighter;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.cover{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.Letsexplore{
    position: absolute;
    padding-left: 175px;
    padding-right: 175px;
    text-align: center;
    color: #ffffff;
    font-size: 96px;
    font-weight: bold;
}

.row1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

.row1-col1{
    flex-basis: 50%;
    min-width: 300px;
    align-items: center;
    text-align: left;
}

.description1{
    padding-top: 15px;
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 15px;
}

.row1-col2{
    flex-basis: 50%;
    min-width: 300px;
    align-items: center;
    text-align: right;
}

.row1-col2 img{
    max-width: 100%;
    padding: 50px 0;
    width: 550px;
}

.row2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

.row2-col1{
    flex-basis: 50%;
    min-width: 300px;
    align-items: center;
    text-align: left;
}

.row2-col2{
    flex-basis: 50%;
    min-width: 300px;
    align-items: center;
    text-align: left;
}

.description2{
    padding-top: 15px;
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 15px;
    padding-left: 50px;
}

.row3{
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    font-weight: 600;
    font-size: 96px;
    text-align: left;
}

.special{
    font-weight: 500;
}